%text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.title {
    max-width: 560px;
    width: 100%;

    h2 {
        @extend %text;
        font-size: 55px;
        margin: 94px 0 29px 0;
    }

    .path {
        margin-bottom: 103px;
        span {
            margin-right: 10px;
            a {
                @extend %text;
                font-size: 17px;

                text-decoration: none;
            }
        }

        .active {
            a {
                color: #808080;
            }
        }
    }
}