// COLORS
$background-color: #F5F5F5;
$footer-color: #F1EADC;
$green-hover: #6E9C9F;

%text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}
// 