*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: #000;
  scroll-behavior: smooth;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.header {
  padding-top: 25px;
  padding-bottom: 15px;
  position: -webkit-sticky;
  position: sticky;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 140px;
  height: 30px;
  background-image: url(../../../public/logo.svg);
  background-repeat: no-repeat;
  margin-top: 8px;
}
.header .container .navsection .list-bar {
  margin: 0;
  padding: 0;
  display: flex;
}
.header .container .navsection .list-bar .list-item {
  list-style: none;
}
.header .container .navsection .list-bar .list-item:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.header .container .navsection .list-bar .list-item a {
  text-decoration: none;
  margin-right: 75px;
  color: #000;
}
.header .container .navsection .list-bar .list-item a:hover {
  color: #6E9C9F;
}
.header .container .navsection .list-bar .list-item a.is-active {
  color: #6E9C9F;
}
.header .container .cart-phone {
  display: flex;
  align-items: center;
}
.header .container .cart-phone .phone {
  text-decoration: none;
  color: #000;
}
.header .container .cart-phone .phone:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.header .container .cart-phone .cart-image {
  width: 50px;
  height: 30px;
  background-image: url(../../../public/shopping-cart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 85px;
}

.footer {
  background: #F1EADC;
}
.footer .container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.footer .container .upper_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .container .upper_block .logo {
  width: 140px;
  height: 30px;
  background-image: url(../../../public/logo.svg);
  background-repeat: no-repeat;
  margin-top: 8px;
}
.footer .container .upper_block .navsection .list-bar {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer .container .upper_block .navsection .list-bar .list-item {
  list-style: none;
}
.footer .container .upper_block .navsection .list-bar .list-item:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.footer .container .upper_block .navsection .list-bar .list-item a {
  text-decoration: none;
  margin-right: 75px;
}
.footer .container .upper_block .navsection .list-bar .list-item a:hover {
  color: #6E9C9F;
}
.footer .container .upper_block .navsection .list-bar .list-item a.is-active {
  color: #6E9C9F;
}
.footer .container .upper_block .cart-phone {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer .container .upper_block .cart-phone .phone {
  text-decoration: none;
  color: #000;
}
.footer .container .upper_block .cart-phone .phone:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.footer .container .upper_block .cart-phone .e-mail {
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}
.footer .container .upper_block .cart-phone .e-mail:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.footer .container .down_block {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.footer .container .down_block .wrapper-left {
  display: flex;
  max-width: 560px;
  width: 100%;
  justify-content: space-between;
}
.footer .container .down_block .wrapper-left .left-side p {
  margin: 10px;
}
.footer .container .down_block .wrapper-left .right-side .footer-list {
  margin: 0;
  margin-top: 10px;
}
.footer .container .down_block .wrapper-left .right-side .footer-list .list-item__footer {
  list-style: none;
  margin-top: 6px;
}
.footer .container .down_block .wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .container .down_block .wrapper-right .social-networks {
  width: 100px;
  height: 25px;
  display: flex;
}
.footer .container .down_block .wrapper-right .social-networks .instagram {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/footer-instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.footer .container .down_block .wrapper-right .social-networks .facebook {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/footer-facebook.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.footer .container .down_block .wrapper-right .social-networks .twitter {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/footer-twitter.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .container .down_block .wrapper-right .payment > .visa {
  width: 70px;
  height: 24px;
  background-image: url(../../../public/visa-mastercard.png);
  background-size: contain;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */