*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: #000;
  scroll-behavior: smooth;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.header {
  padding-top: 25px;
  padding-bottom: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #F5F5F5;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 140px;
  height: 30px;
  background-image: url(../../../public/logo.svg);
  background-repeat: no-repeat;
  margin-top: 8px;
}
.header .container .navsection .list-bar {
  margin: 0;
  padding: 0;
  display: flex;
}
.header .container .navsection .list-bar .list-item {
  list-style: none;
}
.header .container .navsection .list-bar .list-item:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.header .container .navsection .list-bar .list-item a {
  text-decoration: none;
  margin-right: 75px;
  color: #000;
}
.header .container .navsection .list-bar .list-item a:hover {
  color: #6E9C9F;
}
.header .container .navsection .list-bar .list-item a.is-active {
  color: #6E9C9F;
}
.header .container .cart-phone {
  display: flex;
  align-items: center;
}
.header .container .cart-phone .phone {
  text-decoration: none;
  color: #000;
}
.header .container .cart-phone .phone:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.header .container .cart-phone .cart-image {
  width: 50px;
  height: 30px;
  background-image: url(../../../public/shopping-cart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 85px;
}

.footer {
  background: #F1EADC;
}
.footer .container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.footer .container .upper_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .container .upper_block .logo {
  width: 140px;
  height: 30px;
  background-image: url(../../../public/logo.svg);
  background-repeat: no-repeat;
  margin-top: 8px;
}
.footer .container .upper_block .navsection .list-bar {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer .container .upper_block .navsection .list-bar .list-item {
  list-style: none;
}
.footer .container .upper_block .navsection .list-bar .list-item:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.footer .container .upper_block .navsection .list-bar .list-item a {
  text-decoration: none;
  margin-right: 75px;
}
.footer .container .upper_block .navsection .list-bar .list-item a:hover {
  color: #6E9C9F;
}
.footer .container .upper_block .navsection .list-bar .list-item a.is-active {
  color: #6E9C9F;
}
.footer .container .upper_block .cart-phone {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer .container .upper_block .cart-phone .phone {
  text-decoration: none;
  color: #000;
}
.footer .container .upper_block .cart-phone .phone:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.footer .container .upper_block .cart-phone .e-mail {
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}
.footer .container .upper_block .cart-phone .e-mail:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}
.footer .container .down_block {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.footer .container .down_block .wrapper-left {
  display: flex;
  max-width: 560px;
  width: 100%;
  justify-content: space-between;
}
.footer .container .down_block .wrapper-left .left-side p {
  margin: 10px;
}
.footer .container .down_block .wrapper-left .right-side .footer-list {
  margin: 0;
  margin-top: 10px;
}
.footer .container .down_block .wrapper-left .right-side .footer-list .list-item__footer {
  list-style: none;
  margin-top: 6px;
}
.footer .container .down_block .wrapper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer .container .down_block .wrapper-right .social-networks {
  width: 100px;
  height: 25px;
  display: flex;
}
.footer .container .down_block .wrapper-right .social-networks .instagram {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/footer-instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.footer .container .down_block .wrapper-right .social-networks .facebook {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/footer-facebook.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.footer .container .down_block .wrapper-right .social-networks .twitter {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(../../../public/footer-twitter.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .container .down_block .wrapper-right .payment > .visa {
  width: 70px;
  height: 24px;
  background-image: url(../../../public/visa-mastercard.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.main .container .main-content .forms-block .user-detalies form input::-moz-placeholder, .main .container .main-content .forms-block .user-data form input::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.main .container .main-content .forms-block .user-detalies form input:-ms-input-placeholder, .main .container .main-content .forms-block .user-data form input:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.main .container .main-content .right-block .payment-method .total-btn, .main .container .main-content .right-block .payment-method form label, .main .container .main-content .right-block .payment-method h3, .main .container .main-content .right-block .order-details-block .total, .main .container .main-content .right-block .order-details-block .order-details, .main .container .main-content .right-block .order-details-block h3, .main .container .main-content .forms-block .comments h3, .main .container .main-content .forms-block, .main .container .main-content .forms-block .user-detalies form input::placeholder, .main .container .main-content .forms-block .user-data form input::placeholder, .main .container .main-content .forms-block .user-detalies h3, .main .container .main-content .forms-block .user-data h3, .title .path span a, .title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.title {
  max-width: 560px;
  width: 100%;
}
.title h2 {
  font-size: 55px;
  margin: 94px 0 29px 0;
}
.title .path {
  margin-bottom: 103px;
}
.title .path span {
  margin-right: 10px;
}
.title .path span a {
  font-size: 17px;
  text-decoration: none;
}
.title .path .active a {
  color: #808080;
}

.main .container .main-content .forms-block .user-detalies h3, .main .container .main-content .forms-block .user-data h3 {
  font-size: 25px;
}
.main .container .main-content .forms-block .user-detalies form, .main .container .main-content .forms-block .user-data form {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .container .main-content .forms-block .user-detalies form input, .main .container .main-content .forms-block .user-data form input {
  max-width: 350px;
  width: 100%;
  height: 40px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #000000;
}
.main .container .main-content .forms-block .user-detalies form input::-moz-placeholder, .main .container .main-content .forms-block .user-data form input::-moz-placeholder {
  font-size: 17px;
  color: #868686;
}
.main .container .main-content .forms-block .user-detalies form input:-ms-input-placeholder, .main .container .main-content .forms-block .user-data form input:-ms-input-placeholder {
  font-size: 17px;
  color: #868686;
}
.main .container .main-content .forms-block .user-detalies form input::placeholder, .main .container .main-content .forms-block .user-data form input::placeholder {
  font-size: 17px;
  color: #868686;
}
.main .container .main-content .forms-block .user-detalies form input:focus, .main .container .main-content .forms-block .user-data form input:focus {
  background: rgba(135, 135, 135, 0.3);
  outline: none;
}

.main {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding: 0 20px 50px;
}
.main .container .main-content {
  max-width: 918px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .container .main-content .forms-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .container .main-content .forms-block .user-data {
  margin-bottom: 50px;
}
.main .container .main-content .forms-block .user-data form {
  min-height: 190px;
}
.main .container .main-content .forms-block .user-detalies {
  margin-bottom: 50px;
}
.main .container .main-content .forms-block .user-detalies form {
  min-height: 340px;
}
.main .container .main-content .forms-block .comments h3 {
  font-size: 25px;
}
.main .container .main-content .forms-block .comments form #comment {
  max-width: 350px;
  width: 100%;
  min-height: 134px;
  resize: none;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
}
.main .container .main-content .forms-block .comments form #comment:focus {
  background: rgba(135, 135, 135, 0.3);
  outline: none;
}
.main .container .main-content .right-block {
  display: flex;
  flex-direction: column;
  max-width: 255px;
  width: 100%;
}
.main .container .main-content .right-block .order-details-block {
  margin-bottom: 70px;
}
.main .container .main-content .right-block .order-details-block h3 {
  font-size: 25px;
}
.main .container .main-content .right-block .order-details-block .order-details {
  display: grid;
  grid-template-columns: 70% 30%;
}
.main .container .main-content .right-block .order-details-block .order-details div {
  margin-bottom: 30px;
}
.main .container .main-content .right-block .order-details-block .total {
  max-width: 287px;
  width: 100%;
  height: 68px;
  background: #F1EADC;
  display: flex;
  align-items: center;
  padding: 15px;
}
.main .container .main-content .right-block .order-details-block .total span {
  margin-left: auto;
}
.main .container .main-content .right-block .payment-method form {
  margin-bottom: 50px;
}
.main .container .main-content .right-block .payment-method form label {
  font-size: 17px;
}
.main .container .main-content .right-block .payment-method form .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.main .container .main-content .right-block .payment-method form .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main .container .main-content .right-block .payment-method form .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #adb5bd;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.main .container .main-content .right-block .payment-method form .custom-checkbox:checked + label::before {
  background-image: url(../../public/blackSquare.jpg);
}
.main .container .main-content .right-block .payment-method .total-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 236px;
  height: 68px;
  background-color: #6E9C9F;
  border: none;
  font-size: 17px;
  color: #ffffff;
  line-height: 140%;
  transition: all 0.5s;
}
.main .container .main-content .right-block .payment-method .total-btn:hover {
  cursor: pointer;
  background-color: #509498;
}
@media (max-width: 768px) {
  .main {
    padding: 0 10px;
    margin-bottom: 50px;
  }
  .main .container .main-content {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */