@import '../assets/common-styles/common.scss';

%text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
}  

%active-size {
    background-color: #000000;
}

%active-color {
    outline: 1px solid black;
}

.main {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    display: flex;
    padding: 0 20px;

    .container {
        .title {
            max-width: 560px;
            width: 100%;

            h2 {
                @extend %text;
                font-size: 55px;
                margin: 94px 0 29px 0;
            }

            .path {
                margin-bottom: 103px;
                span {
                    margin-right: 10px;
                    a {
                        @extend %text;
                        font-size: 17px;

                        text-decoration: none;
                    }
                }

                .active {
                    a {
                        color: #808080;
                    }
                }
            }
        }

        .main-content {
            max-width: 1110px;
            width: 100%;

            .item-detailes {
                max-width: 1110px;
                width: 100%;
                display: flex;
                gap: 77px;

                .item-img {
                    max-width: 537px;
                    width: 100%;
                    min-height: 730px;

                    background-image: url(../../public/card_item1.jpg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                .item-discriptions {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .price {
                        p {
                            @extend %text;
                            color: #998E78;
                        }
                    }

                    .sizes-block {
                        .size-title {
                            @extend %text;
                            font-size: 20px;
                            line-height: 140%;
                        }

                        .sizes {
                            display: flex;
                            gap: 10px;
                            .size {
                                width: 40px;
                                height: 40px;
                                border: 1px solid black;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            .active-size {
                                @extend %active-size;
                                color: #ffffff;
                            }
                        }
                    }

                    .collor-block {
                        .collor-title {
                            @extend %text;
                            font-size: 20px;
                            line-height: 140%;
                        }

                        .collors {
                            display: flex;
                            gap: 10px;

                            .color {
                                width: 41px;
                                height: 41px;
                                border-radius: 50%;
                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            .active-color {
                                @extend %active-color;
                            }

                            .color1 {
                                background-color: #927876;
                            }

                            .color2 {
                                background-color: #D5D5D5;
                            }

                            .color3 {
                                background-color: #FD9696;
                            }

                            .color4 {
                                background-color: #FDC796;
                            }
                        }
                    }

                    .addit-block {
                        display: flex;
                        gap: 10px;

                        .quantity {
                            width: 68px;
                            height: 68px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #AFAFAF;

                            @extend %text;
                            font-size: 20px;
                            line-height: 140%;
                        }

                        .add-btn {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            width: 268px;
                            height: 68px;
                            background-color: #6E9C9F;

                            // text button
                            @extend %text;
                            font-size: 17px;
                            color: #ffffff;
                            line-height: 140%;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .related-products {

                margin: 130px 0 130px 0;
                .frame-title {
                    @extend %text;
                    margin: 65px 0 ;
                }

                .products {
                    max-width: 730px;
                    width: 100%;
                    min-height: 558px;
                    display: flex;
                    justify-content: space-between;

                    .card {
                        max-width: 350px;
                        width: 100%;
                        min-height: 558px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        .card-img {
                            max-width: 350px;
                            width: 100%;
                            min-height: 478px;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }

                        .item1 {
                            background-image: url(../../public/card_item2.jpg);
                        }

                        .item2 {
                            background-image: url(../../public/card_item3.jpg);
                        }

                        .card-discription {
                            h4 {
                                @extend %text;
                                font-size: 20px;
                                line-height: 140%;
                                margin: 25px 0 7px 0;
                            }

                            .card-price {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @extend %text;
                                font-size: 15px;
                                line-height: 140%;
                                color: #998E78;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 769px) {
            .title {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-size: 32px;
                    margin: 30px 0 29px 0;
                }

                .path {
                    margin-bottom: 20px;
                }
            }

            .main-content {
                .item-detailes {
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .item-img {
                        max-width: 300px;
                        min-height: 430px;
                    }

                    .item-discriptions {
                        align-items: center;

                        .price {
                            p {
                                margin: 0;
                            }
                        }

                        .collor-block {
                            .collors {
                                margin-bottom: 10px;
                            }
                        }

                        .addit-block {
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }

                .related-products {
                    margin: 10px 0 10px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .frame-title {
                        margin: 40px 0 20px 0;
                        font-size: 20px;
                    }

                    .products {
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;

                        .card {
                            max-width: 300px;
                            min-height: 495px;
                            .card-img {
                                max-width: 300px;
                                min-height: 430px;
                            }

                            .card-discription {
                                h4 {
                                    margin: 7px 0 7px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}